@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* =========================================================  */

body {
  /* Aqui está presente todas as especificações do corpo da página, como fonte das letras, tamanhos etc*/
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

/* =========================================================  */
nav {
  /* Aqui está presente todas as especificações da navbar*/
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  background-color: #295B1D;
  border-top: 6px solid #F9F6F1;
  box-shadow: 0 0 8px #07240f;
  position: sticky;
  top: 0;
  z-index: 9999;
}

nav .logo img {
  width: 160px;
  height: 60px;
  filter: drop-shadow(0 0 8px #07240f);
  margin-left: 30px;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

nav ul li {
  margin: 0 50px;
}

nav ul li a {
  color: #F9F6F1;
  font-size: 20px;
  font-weight: 400;
  transition: 0.2s ease;
}

nav ul li a:hover {
  /* efeito que acontece quando se coloca o mouse em cima das categorias da navbar*/
  color: #295B1D;
  background-color: #F9F6F1;
  font-weight: 600;
  height: 40px;
  border-radius: 0px 0px 20px 20px;
  font-size: 22px;
  padding: 15.9px 10px 4px;
}

/* ==================================== */
.search-box {
  /*barra de pesquisa*/
  height: 40px;
  position: relative;
  width: 60px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box.active,
.search-btn {
  width: 200px;
  color: #664aff;
}

.search-box input {
  height: 40px;
  box-shadow: 0 0 6px #07240f;
  text-align: center;
  width: 220px;
  border: none;
  outline: none;
  background: #f9f6f1;
  font-size: 18px;
  border-radius: 50px;
  padding: 0 40px 0 20px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box input.active {
  opacity: 1;
  color: #000000;
}

.search-box .search-btn {
  height: 40px;
  width: 40px;
  color: #6e8b21;
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  background: #f9f6f1;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 6px #07240f;
}

.search-box .search-btn.active {
  right: 120px;
  height: 50px;
  width: 80px;
  color: #f9f6f1;
  background: #6e8b21;
  line-height: 50px;
  transform: translateY(-50%) rotate(180deg);
}

.search-box .cancel-btn {
  position: absolute;
  top: 50%;
  right: 90px;
  transform: translateY(-50%);
  color: #6e8b21;
  filter: drop-shadow(0 0 2px #07240f);
  font-size: 25px;
  cursor: pointer;
  transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box.active .cancel-btn {
  right: 120px;
  transform: translateY(-50%) rotate(360deg);
}

.search-box .search-data {
  text-align: center;
  padding-top: 7px;
  color: #6e8b21;
  font-size: 18px;
  word-wrap: break-word;
}

.search-box .search-btn.active {
  display: none;
}

/* ==================================== */
.conta {
  /*botão minha conta*/
  color: #f9f6f1;
  background: linear-gradient(150deg, #66801f, #14360b);
  width: 170px;
  font-weight: 300;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 5px;
  height: 40px;
  border-radius: 13px;
  box-shadow: 0 0 8px #07240fa2;
  margin-left: 10px;
  font-size: 20px;
  margin-right: 80px;
  justify-content: space-around;
}


.conta2 {
  /* especificações do botão "Conheça-me"*/
  color: #043522;
  background: linear-gradient(150deg, #ffffff, #ffffff);
  width: 125px;
  font-weight: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  height: 40px;
  border-radius: 13px;
  box-shadow: 0 0 8px #07240f;
  font-size: 15px;
  margin-top: 10px;
  padding: 3px;
}

/* =========================================================  */

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  align-items: center;
}

main {
  /*a main é a onde se encontra toda a parte inicial do site, tendo uma tela com várias fotos em carrosel*/
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-image: url(../img/fundor.png);
  background-repeat: no-repeat;
  background-size: cover;
}

main .form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  margin-top: 70px;
}

main img {
  margin-top: 100px;
}

main .form-container input {
  background-color: #f9f6f1;
  /* border: 1px solid #07240f; */
  border-radius: 20px 0px 0px 20px;
  width: 720px;
  height: 66px;
  font-size: 22px;
  padding: 10px;
  margin-bottom: 0;
  margin-right: 10px;
  border-right: transparent;
}

main input::placeholder {
  font-weight: 400;
  font-size: 18px;
  padding: 20px;
}

main .form-container button {
  height: 66px;
  width: 50px;
  margin-left: -12px;
  border: 1px solid #07240f;
  background-color: #f9f6f1;
  border-left: transparent;
  border-radius: 0px 20px 20px 0px;
  cursor: pointer;
  border-left: transparent;
}

main .form-container button.search-button {
  border: none;
}

main .form-container button i {
  color: #07240f;
  font-size: 22px;
  filter: drop-shadow(0 0 1px #07240f);
}

main .form-container input:focus,
main .form-container button:focus {
  outline: none;
}

main .form-container button:active,
main .form-container input:active {
  border: none;
}

main img {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 670px;
  height: 240px;
  filter: drop-shadow(0 0 6px #07240f);
}

/* =========================================================  */

section {
  /*Na section, encontramos os cards de apresentação da agroup*/
  background: #F9F6F1;
  width: 100%;
  min-height: 80vh;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 320px;
  height: 500px;
  margin: 25px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #F9F6F1;
  position: relative;
  box-shadow: 0 0 8px #07240f;
  margin-top: 60px;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.card-body {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  color: #F9F6F1;
  position: absolute;
  background: #1f3d4738;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1.5s;
}

.card:hover .card-body {
  right: 0;
}

.card-title {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 400;
}

.card-sub-title {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 300;
}

.card-info {
  font-size: 16px;
  line-height: 25px;
  margin: 40px 0;
  font-weight: 400;
}

/* =========================================================  */

section .categorias {
  /*barra de pesquisa da parte de categorias*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 250px;
  z-index: 10;
}

section .categorias img {
  float: center;
  display: flex;
  width: 100%;
}

section .categorias h1 {
  font-size: 48px;
  width: 550px;
  text-align: center;
  font-weight: 200;
  color: #07240f;
  text-shadow: 0 0 1px #295B1D;
  margin-left: 180px;
  z-index: 10;
}

section .categorias button {
  width: 350px;
  height: 66px;
  background: linear-gradient(45deg, #295B1D, #6e8b21);
  border-radius: 20px;
  box-shadow: 0 0 8px #07240f;
  margin-left: 300px;
  margin-top: 20px;
  text-align: center;
  z-index: 10;
}

section .categorias button a {
  text-decoration: none;
  color: #F9F6F1;
  font-size: 30px;
  z-index: 10;
}

section .fundo {
  width: 450px;
  height: 450px;
  background-color: #295B1D;
  border-radius: 20px;
  margin-right: -390px;
  border: 1px solid #07240f;
  box-shadow: 0 0 8px #07240f;
}

/* =========================================================  */
.img2 {
  width: 450px;
  height: 450px;
  margin-right: 250px;
  margin-top: 50px;
  box-shadow: 0 0 8px #07240f;
  border-radius: 20px;
}

section .procurados {
  width: 350px;
  height: 60px;
  background: linear-gradient(45deg, #6e8b21, #295B1D);
  border-radius: 14px;
  border: 1px solid #07240f;
  box-shadow: 0 0 8px #07240f;
}

section .procurados h1 {
  color: #F9F6F1;
  text-shadow: 1px 1px 2px #07240f;
  text-align: center;
}

/* =========================================================  */
.section-3 {
  /*é a onde se encontra exposto alguns dos nossos produtos iniciais de comercialização*/
  position: relative;
}

.section-3 {
  position: relative;
  overflow: hidden;
}

.fundoo {
  height: 100%;
  width: 100%;    
  background-color: #043522;

}

.fundoo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  backdrop-filter: blur(25px);
}

.container {
  display: flex;
  justify-content: center;
  z-index: 9997;
}

.tipos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px;
  z-index: 9997;
}

.tipos img {
  margin-bottom: 10px;
  filter: drop-shadow(0 0 4px #07240f);
  z-index: 9997;
}

.tipos h2 {
  color: #F9F6F1;
  text-shadow: 2px 2px 2px #07240f;
  font-weight: 600;
  z-index: 9997;
  font-size: 26px;
}

/* =========================================================  */
.card2 {
  /* especificações da section e da tag card2, onde contém os planos premiuns*/
  width: 350px;
  height: 300px;
  margin: 50px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #F9F6F1;
  position: relative;
  box-shadow: 0 0 8px #07240f;
  font-family: 'Poppins', sans-serif;
  margin-top: 0px;
  display: flex;
  margin-bottom: -60px;
}

.card2 img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.card2-body {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  color: #bd934b;
  position: absolute;
  background: #1f3d4738;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1.5s;

}

.card2:hover .card-body {
  right: 0;
}

.card2-title {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 200;
  color: #ffffff;
}

.card2 p {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
}

.card2-info {
  font-size: 16px;
  line-height: 25px;
  margin: 40px 0;
  font-weight: 400;
}

.plano {
  margin-top: -400px;
  font-size: 50px;
  color: #295B1D;
  margin-left: -150px;
  margin-bottom: 0px;
}

/* =========================================================  */

footer {
  /* daqui para baixo se encontra todos elementos presentes na tag footer. Desde a ativação do botão, animação, prototipagem e etc.*/
  width: 100%;
  height: 500px;
  background-color: #295B1D;
  font-family: 'Poppins', sans-serif;
  position: relative;
  margin-top: -30px;
}

/* ==================================== */
footer .slogan {
  position: absolute;
  top: 5%;
  left: 0;
  padding: 20px;
  margin-top: 15px;
  left: 3%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer .slogan img {
  width: 20%;
  filter: drop-shadow(0 0 3px #103b02);
}

footer .slogan h2 {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 35px;
  color: #f9f6f1;
  text-shadow: 0 0 8px #07240f;
  text-align: center;
}

/* ==================================== */
footer .social-icons {
  position: absolute;
  bottom: 25%;
  left: 5%;
  transform: translateY(50%);
  margin: 20px;
}

footer .social-icons h1 {
  color: #6e8b21;
  text-shadow: 0 0 8px #07240f;
}

footer .social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border: none;
  background-color: #F9F6F1;
  color: #295B1D;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 15px;
  transition: 0.5s ease-in-out;
}

footer .social-icons a:hover {
  color: #f9f6f1;
  background-color: #295B1D;
  font-size: 35px;
}

/* ==================================== */
footer .infoSobre,
footer .infoPedidos,
footer .infoSuporte,
footer .info {
  float: right;
  justify-content: center;
  margin-right: 30px;
  padding: 20px;
}

footer .infoSobre h3,
footer .infoPedidos h3,
footer .infoSuporte h3,
footer .info h3 {
  margin-top: 65px;
  margin-right: 25px;
}

footer h3 {
  color: #6e8b21;
}

footer h4 {
  color: #f9f6f1;
  margin-top: 20px;
}

/* ==================================== */
footer .rodape {
  width: 100%;
  padding: 20px 8%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .rodape hr {
  width: 100%;
  height: 1px;
  background-color: #F9F6F1;
  margin: 10px 0;
  position: absolute;
  bottom: 100%;
  z-index: 3;
  margin-left: -122px;
}

footer .rodape p {
  color: #fff;
  margin: 0;
}

footer .rodape h5,
footer .rodape h6 {
  color: #f9f6f1;
  margin: 0;
  font-size: 15px;
}